{% extends 'core/base.html' %}
 {% load static %}
 {% block content %}

    
    <link rel="stylesheet" href="{% static 'core/home.css' %}">
    
   <div class="search-container"><form action="{% url 'core:search_blogs' %}" method="get">
                    {% csrf_token %}
                    <input type="text" name="q">
                    <button type="submit" >Search</button>
                </form></div>
            <div class="middle">
                <div class="header">
                <h1>TrendBlend</h1></div>
                <div class="category men">
                    <a href="/Men"><img class="icons"src="{% static 'img/men.jpg'%}"  alt="men category"></a>
                    <p>Men's wear</p>

                </div>
                <div class="category women">
                  <a href="/women"><img class="icons" src="{% static 'img/women.jpg'%}" alt="Women category"></a>
                   <p> Women's wear</p>
               </div>

            
           

            </div>
 {% endblock content %}
            


   
    

    
   
